/*reset basico e variaveis gerais*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

:root {
    /*cores da identidade visual*/
    /*logo*/
    --amarelo-lima: #D9DA4A;
    --verde-limao: #9BC93E;
    --verde-medio: #6FBE5C;
    --verde-escuro: #3f9053;

    /*cores neutras*/
    --texto-principal: #21211b;
    --texto-suave: #545448;
    --fundo: #FBFBF5;
    --branco: #FFFFFF;

    /*tipografia*/
    --fonte-titulo: "Montserrat", sans-serif;
    --fonte-corpo: "Open Sans", sans-serif;
}

section, .servico-card{
    scroll-margin-top: 110px;
}

body { 
    font-family: var(--fonte-corpo);
    color: var(--texto-principal);
    background-color: #F5F1E7; /* Cor sólida de segurança */
    line-height: 1.65;
    padding-top: 120px; 
    overflow-x: hidden;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

/*header e navegacao (<header id="nav"> )*/
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background-color: var(--texto-principal);
    z-index: 1000;  
    transition: all 0.7s cubic-bezier(0.25, 1, 0.5, 1);
}

.navbar.scrolled{
    top: 10px;
    left: 10%;
    width: 80%;
    height: 75px;
    background-color: rgba(33, 33, 27, 0.75);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-radius: 50px;
    border: 1px solid var(--verde-limao);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

.navbar-container{
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.navbar .logo{
    font-family: var(--fonte-titulo);
    font-weight: 700;
    font-size: 1.4rem;
    color: var(--verde-escuro);
}

.logo{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.logo-texto{
    font-family: var(--fonte-titulo);
    font-weight: 900;
    font-size: 35px;
    color: var(--verde-escuro);
}

.logo-jr{
    color: var(--verde-medio);
}

.navbar .logo-img img{
    width: 48px;
    height: 48px;
    object-fit: contain;
    margin-top: 10px;
}

.nav-links{
    display: flex;
    gap: 2rem;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: var(--branco);
    font-weight: 600;
    padding: 0.5rem 0.2rem;
    position: relative;
    transition: color 0.2s;
}

.nav-links a:hover {
    color: var(--verde-escuro);
}

.nav-links a::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--verde-escuro);
    transition: width 0.25s;
}

.nav-links a:hover::after{
    width: 100%;
}
/*linha vertical*/
.detalhe-linha{
    border-left: 3px solid var(--verde-escuro);
    padding-left: 1.5rem;
    margin: 1.5rem 0;
}

.detalhe-linha-direita{
    border-right: 3px solid var(--verde-escuro);
    padding-right: 1.5rem;
    margin: 1.5rem 0;
}

.detalhe-linha p{
    margin-bottom: 0;
}

/*dropdown*/
.dropdown{
    position: relative;
}

.submenu{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--branco);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 0.5rem 0;
    border-radius: 8px;
    min-width: 220px;
    z-index: 1001;
}

.dropdown:hover .submenu{
    display: flex;
    flex-direction: column;
}

.submenu a{
    display: block;
    padding: 0.8rem 1.5rem;
    font-weight: 500;
    font-size: 0.95rem;
    color: var(--texto-principal);
    transition: background-color 0.2s, color 0.2s;
}

.submenu a:hover{
    background-color: var(--fundo);
    color: var(--verde-escuro);
}

.submenu a::after{
    display: none;
}


/*3. seção hero, o topo(<section id="hero">)*/
.hero{
    padding: 4rem 0;
    min-height: 80vh;
    display: flex;
    align-items: center;
    background: linear-gradient(to bottom, #F5F1E7 0%, #FCFCFA 100%);
}

.hero h1{
    font-family: var(--fonte-titulo);
    font-size: 3.2rem;
    line-height: 1.2;
    color: var(--texto-principal);
    margin-bottom: 1.5rem;
    max-width: 680px;
}

.hero p{
    font-size: 1.15rem;
    color: var(--texto-suave);
    max-width: 550px;
    margin-bottom: 2rem;
}
.hero-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
}

.hero-conteudo{
    flex: 1;
}

.hero-imagem{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.hero-imagem img{
    width: 100%;
    max-height: 420px;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    object-fit: cover;
}

.btn-cta{
    display: inline-block;
    background-color: var(--verde-escuro);
    color: var(--branco);
    text-decoration: none;
    font-weight: 600;
    padding: 0.9rem 2rem;
    border-radius: 8px;
    transition: background-color 0.2s;
}

.btn-cta:hover{
    background-color: var(--verde-medio);
    transform: translateY(-2px); 
    box-shadow: 0 8px 25px rgba(76, 170, 99, 0.4); 
}


/*seção de servicos ( <section id="servicos"> )*/
.servicos {
    padding: 5rem 0;
    background: linear-gradient(to bottom, #FCFCFA 0%, #F5F1E7 100%);
}

.servicos .container{
    max-width: 1500px; 
}

.servicos h2{
    font-family: var(--fonte-titulo);
    color: var(--verde-escuro);
    font-size: 3rem;
    margin-top: 1.2rem;
    text-align: right;
}

.servicos-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1.2rem;
    width: 100%;
}

.servico-card{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--branco);
    padding: 1.5rem 1rem;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.03);
    border-bottom: 4px solid var(--fundo);
    transition: all 0.3s ease;
}


.servico-card:hover{
    transform: translateY(-8px) !important;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05), 
                0 0 25px rgba(155, 201, 62, 0.2);
    border-bottom: 4px solid var(--verde-limao);
}

.servico-card h3{
    font-family: var(--fonte-titulo);
    color: var(--verde-escuro);
    font-size: 1.25rem;
    margin-bottom: 0.8rem;
}

.servico-card p{
    color: var(--texto-suave);
    font-size: 0.9rem;
    line-height: 1.6;
}

.img_animais{
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 8px;
    margin-top: 0;
    margin-bottom: 1rem;
    transition: transform 0.9s ease;
}

.servico-card:hover .img_animais{
    transform: scale(1.02);
}

.servico-lista {
    list-style: none;
    padding: 0;
    margin-top: 1rem;
}

.servico-lista li {
    font-size: 0.85rem;
    color: var(--texto-suave);
    margin-bottom: 0.4rem;
    font-weight: 600;
}

/*seção que somos ( <section id="sobre"> )*/
.quem-somos{
    padding: 5rem 0;
    background: linear-gradient(to bottom, #F5F1E7 0%, #FCFCFA 100%);
}

.quem-somos h2{
    font-family: var(--fonte-titulo);
    font-size: 3rem;
    color: var(--verde-escuro);
    margin-bottom: 1.2rem;
}

.quem-somos p{
    font-size: 1.1rem;
    color: var(--texto-suave);
    max-width: 700px;
}

.sobre-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem
}

.sobre-conteudo{
    flex: 1;
}
/*fale conosco*/

.contato-destacado {
    padding: 3rem 0 5rem 0; /* Aumentamos o padding inferior para 5rem */
    background: linear-gradient(to bottom, #F5F1E7 0%, #FCFCFA 100%);
    text-align: center;
    margin-bottom: 0; /* ISSO RESOLVE A QUEBRA ANTES DO FOOTER */
}

.contato-destacado img{
    max-width: 100%;
    width: 30px;
}

.contato-destacado h2{
    font-family: var(--fonte-titulo);
    font-size: 3rem;
    color: var(--verde-escuro);
    margin-bottom: 1.2rem;
}

.contato-destacado p{
    font-family: var(--fonte-corpo);
    color: var(--texto-suave);
    font-size: 1.1rem;
    max-width: 700px;
    margin: 0 auto;
}

.contato-botoes{
    display: flex;
    gap: 1.5rem;
    margin-top: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}

.btn-contato{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 1rem 2rem;
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 8px;
    color: var(--branco);
    text-decoration: none;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.btn-contato:hover{
    transform: translateY(-4px);
    box-shadow: 0 10px 25px rgba(76, 170, 99, 0.4);
}

.btn-contato.zap,
.btn-contato.email,
.btn-contato.maps{
    background-color: var(--verde-escuro);
}


/* footer e contato ( <footer id="footer"> )*/
.footer{
    background-color: var(--texto-principal);
    padding: 3rem 0 0 0;
    color: var(--branco);
}

.footer-container{
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1.2fr 1.2fr;
    gap: 3rem;
    padding-bottom: 0.5rem;
}

.footer .logo-texto{
    margin-top: -13px;
    display: flex;
}

.footer-col h3{
    font-family: var(--fonte-titulo);
    font-size: 1.1rem;
    margin-bottom: 1rem;
    color: var(--verde-escuro);
}

.footer-col p{
    color: #c9c9c0;
    font-size: 0.95rem;
    margin-top: 0.8rem;
}

.footer-links{
    list-style: none;
}

.footer-links li{
    margin-bottom: 0.6rem;
}

.footer-links a{
    color: #c9c9c0;
    text-decoration: none;
    transition: color 0.2s;
}

.footer-links a:hover {
    color: var(--verde-limao);
}

.priv{
    font-size: 0.85rem;
    color: #999;
    text-decoration: underline; 
    transition: color 0.2s;
}

.priv:hover{
    color: var(--verde-limao)
}

/* base dos itens de contato */
.contato-lista{
    display: flex;
    gap: 1rem;
}

.contato-item{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--branco);
    padding: 0.2rem 0.5rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    transition: all 0.25s ease;
    cursor: pointer;
}

.contato-item:hover{
    background-color: var(--verde-escuro);
    transform: translateY(-3px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.contato-item a{
    color: var(--branco);
    text-decoration: none;
}

/* modificadores de contato no footer */
.footer-contato {
    flex-wrap: wrap;
}

.footer-contato .contato-item {
    background-color: rgba(255, 255, 255, 0.08);
    box-shadow: none;
    border-radius: 15px;
}


.contatos-diretos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contato-link{
    display: flex;
    align-items: center;
    gap: 0.6rem;
    color: #c9c9c0;
    text-decoration: none;
    font-size: 0.95rem;
    transition: color 0.2s;
}

.contato-link:hover {
    color: var(--verde-escuro);
}

/*redes sociais no footer */
.redes-sociais{
    display: flex;
    gap: 1.2rem;
    align-items: center;
    padding: 10px;
}

.icone-rede{
    margin-top: 6px;
}

.redes-sociais a img{
    width: 20px;
    height: 20px;
    object-fit: contain;
    transition: transform 0.25s ease;
}

.redes-sociais a:hover img{
    transform: translateY(-4px);
}

/* endereço no footer*/
.footer-endereco{
    font-style: normal;
    color: #c9c9c0;
    font-size: 0.95rem;
    line-height: 1.8;
    margin-top: 0.8rem;
}

.footer-endereco p{
    margin-top: 0;
    margin-bottom: 0.2rem;
}

/* linha de copyright*/
.footer-bottom{
    border-top: 1px solid rgba(255, 255, 255, 0.01);
    padding: 1.2rem 0;
    text-align: center;
    font-size: 0.85rem;
    color: #999;
}

/* coloca os itens do rodapé lado a lado */
.footer-bottom-flex {
    display: flex;
    flex-wrap: wrap;          
    justify-content: center;  
    align-items: center;      
    gap: 1.5rem;
}

.footer-bottom-flex p {
    margin: 0; 
}
/*menu hamburguer*/
.menu-hamburguer{
    display: none;
    font-size: 2rem;
    color: var(--verde-limao);
    cursor: pointer;
}

/*bento grid*/
.bento-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.bento-card{
    background: var(--verde-escuro);
    padding: 2.5rem 1.5rem;
    border-radius: 16px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    transition: transform 0.3s ease;
}

.bento-card h4{
    color: var(--amarelo-lima);
    font-family: var(--fonte-titulo);
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}

.bento-card p{
    color: var(--branco);
    font-size: 0.9rem;
    margin: 0;
}

.bento-centro{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--fundo);
    width: 110px;
    height: 110px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: var(--fonte-titulo);
    font-weight: 800;
    font-size: 1.1rem;
    color: var(--texto-principal);
    box-shadow: 0 0 0 8px rgba(155, 201, 62, 0.3),
                0 10px 20px rgba(0, 0, 0, 0.15);
    z-index: 2;
}

/*media*/
@media (max-width: 1200px) {
    .servicos-grid {
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    }
}

@media (max-width: 768px) {
    .menu-hamburguer{
        display: block;
        margin-left: auto;
    }
    
    .navbar-container {
        padding: 0 1rem;
    }

    .logo-texto {
        font-size: 22px;
    }

    .navbar .logo-img img {
        width: 32px;
        height: 32px;
        margin-top: 0;
    }

    .nav-links {
        display: flex;
        opacity: 0;
        visibility: hidden;
        transform: translateX(100%);
        transition: all 0.4s ease;
        position: absolute;
        top: 90px;
        left: 0;
        width: 100%;
        background-color: var(--texto-principal);
        flex-direction: column;
        gap: 0;
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
    }

    .menu-mobile.ativo .nav-links{
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
    }

    .nav-links li{
        text-align: center;
        padding: 1rem 0;
    }

    .submenu{
        display: flex;
        flex-direction: column;
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        transition: all 0.4s ease;
        position:static;
        box-shadow: none;
        background-color: #383832;
        width: 100%;
        padding: 0;
    }

    .nav-links a {
        display: block;
        padding: 1.2rem 2rem;
        font-size: 1.1rem;
        color: var(--branco);
        border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    }

    .dropdown.aberto .submenu{
        max-height: 350px;
        opacity: 1;
    }

    .submenu a{
        padding: 1rem 3rem;
        font-size: 0.95rem;
        color: #dcdcdc;
        border-bottom: 1px solid rgba(255, 255, 255, 0.02);
    }

    .hero h1 {
        font-size: 1.8rem;
        max-width: 100%;
    }

    .hero p {
        font-size: 1rem;
        max-width: 100%;
    }

    .quem-somos h2 {
        font-size: 2rem;
    }

    .contato-lista {
        flex-wrap: wrap;
    }
    
    .footer-container {
        grid-template-columns: 1fr;
    }
    .hero-container {
        flex-direction: column;
        text-align: center; 
        gap: 2.5rem;
    }

    .hero-conteudo h1 {
        font-size: 34px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .hero-conteudo p {
        margin-left: auto;
        margin-right: auto;
    }

    .hero-imagem {
        justify-content: center;
    }

    .sobre-container {
        flex-direction: column;
        text-align: center;
        gap: 4rem;
    }

    .servico-card{
        border-radius: 30px;
    }

    .servicos-grid{
        margin: 0 auto;
    }

    .bento-container {
        grid-template-columns: 1fr; 
        gap: 1rem;
        padding: 0 1rem;
    }

    .bento-card {
        padding: 1.5rem; 
    }

    .bento-card h4 {
        font-size: 1.2rem; 
        margin-bottom: 0.5rem;
    }

    .bento-card p {
        font-size: 1rem; 
    }

    .bento-centro {
        display: none; 
    }
}
/* como funciona */
.como-funciona {
    padding: 5rem 0;
    background: linear-gradient(to bottom, #FCFCFA 0%, #F5F1E7 100%);
    overflow: hidden; 
}

.como-funciona p {
    color: var(--texto-suave);
    max-width: 600px;
    font-size: 1.1rem;
}

.passos-container {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin-top: 4rem;
    position: relative; 
}

.passos-container::before {
    content: "";
    position: absolute;
    top: 27px; 
    left: 10%;
    right: 10%;
    height: 4px;
    background-color: var(--verde-medio);
    z-index: 1;
}

.passo-item {
    flex: 1;
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center;
    position: relative;
    z-index: 2; 
    background-color: transparent;
    padding: 0 1rem;
    transition: transform 0.3s ease;
}

.passo-item:hover {
    transform: translateY(-8px);
}

.passo-icone {
    width: 55px;
    height: 55px;
    background-color: var(--verde-escuro);
    color: var(--branco);
    font-family: var(--fonte-titulo);
    font-size: 1.5rem;
    font-weight: 700;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 0 8px #F8F5EF;
    margin-bottom: 1.5rem;
}

.passo-texto h3 {
    font-family: var(--fonte-titulo);
    color: var(--verde-escuro);
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
}

.passo-texto p {
    font-size: 0.95rem;
}

.como-funciona h2{
    font-family: var(--fonte-titulo);
    font-size: 3rem;
    color: var(--verde-escuro);
    margin-bottom: 1.2rem;
}

@media (max-width: 768px) {
    .passos-container {
        flex-direction: column;
        gap: 3rem;
    }
    
    .passos-container::before {
        display: none;
    }

    .passo-item {
        background-color: var(--branco);
        padding: 2rem;
        border-radius: 12px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
        border-top: 4px solid var(--verde-medio);
    }

    .passo-icone {
        box-shadow: none; 
    }
}
/* faq*/
.faq {
    padding: 5rem 0;
    background: linear-gradient(to bottom, #F5F1E7 0%, #FCFCFA 100%);
}

.faq h2 {
    font-family: var(--fonte-titulo);
    font-size: 3rem;
    color: var(--verde-escuro);
    text-align: center;
    margin-bottom: 3rem;
}

.faq-container {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.faq-item {
    background-color: var(--branco);
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.03);
    border-left: 4px solid var(--verde-medio);
    overflow: hidden;
}

.faq-item summary {
    padding: 1.5rem;
    font-family: var(--fonte-titulo);
    font-weight: 600;
    color: var(--verde-escuro);
    cursor: pointer;
    position: relative;
    list-style: none;
    outline: none;
}

.faq-item summary::-webkit-details-marker {
    display: none;
}

.faq-item summary::after {
    content: "+";
    position: absolute;
    right: 1.5rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.8rem;
    color: var(--verde-limao);
    font-weight: 400;
}

.faq-item[open] summary::after {
    content: "-";
}

.faq-item p {
    padding: 0 1.5rem 1.5rem 1.5rem;
    color: var(--texto-suave);
    font-size: 0.95rem;
    margin: 0;
    animation: descerSuave 0.3s ease-in-out;
}

@keyframes descerSuave {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
}

.contato-destacado {
    padding: 3rem 0 5rem 0;
    
    background: linear-gradient(to bottom, #FCFCFA 0%, #F5F1E7 100%);
    text-align: center;
    margin-bottom: 0;
}